:root {
  /*======================= 
    Primary colors
     =======================*/
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  /*======================= 
    Neutral colors
     =======================*/

  /* paragraph */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  /* background and headings */
  --Very-light-gray: hsl(0, 0%, 95%);
}

/* Body And Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
  font-family: sans-serif;
  background-color: var(--Very-light-gray);
}

/* Cards Container */

.container {
  width: 90%;
  max-width: 350px;
  margin: 3rem auto;
}

/* Each Card Styles */

.card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.7rem;
}

.card:nth-child(1) {
  background-color: var(--Bright-orange);
  border-radius: 15px 15px 0 0;
}
.card:nth-child(2) {
  background-color: var(--Dark-cyan);
}
.card:nth-child(3) {
  background-color: var(--Very-dark-cyan);
  border-radius: 0 0 15px 15px;
}

/* Typography */

.paragraph {
  color: var(--Transparent-white);
  line-height: 1.5;
  width: 92%;
  font-size: 1.1rem;
}
h2 {
  color: var(--Very-light-gray);
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: -1.2px;
}

/* Button */

.learn-more {
  border: none;
  background-color: var(--Very-light-gray);
  font-size: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  border: 3px solid var(--Very-light-gray);
  transition: all 150ms ease-in-out;
  cursor: pointer;
  font-weight: 500;
}
.learn-more:hover {
  background-color: transparent;
  color: var(--Very-light-gray);
}
.orange-btn {
  color: var(--Bright-orange);
}
.blue-btn {
  color: var(--Dark-cyan);
}
.green-btn {
  color: var(--Very-dark-cyan);
}

@media only screen and (min-width: 890px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 940px;
  }
  .paragraph {
    margin-bottom: 3rem;
  }

  /* Border radius */

  .card:nth-child(1) {
    border-radius: 15px 0 0 15px;
  }
  .card:nth-child(3) {
    border-radius: 0 15px 15px 0;
  }
} ;
